<?xml version='1.0' encoding='utf-8'?>
<widget id="io.adventurecycling.bicycletouringcompanion" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bicycle Touring Companion: Stop Here!</name>
    <description>
        The Adventure Cycling Association inspires and empowers people to
        travel by bicycle. For cyclists who want a better experience while
        touring, the Bicycle Touring Digital Companion (BTDC) is a targeted
        mapping and service review application that allows cyclists to obtain
        information for services, points of interest, and alerts along
        bicycle touring routes in the United States.
    </description>
    <author email="" href="">
        Bikelomatic Complexity
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="src/img/icon-36-ldpi.png" density="ldpi" />
        <icon src="src/img/icon-48-mdpi.png" density="mdpi" />
        <icon src="src/img/icon-72-hdpi.png" density="hdpi" />
        <icon src="src/img/icon-96-xhdpi.png" density="xhdpi" />
        <icon src="src/img/icon-144-xxhdpi.png" density="xxhdpi" />
        <icon src="src/img/icon-192-xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-camera" spec="~2.1.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <engine name="browser" spec="~4.0.0" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="cordova-plugin-file" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-navigation href="*" />

    <!-- Set's Android's minimum -->
    <preference name="android-minSdkVersion" value="19" />

    <!-- Set's iOS's minimum -->
    <preference name="deployment-target" value="8.0" />

</widget>
