<?xml version='1.0' encoding='utf-8'?>
<widget id="io.adventurecycling.bicycletouringcompanion" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bicycle Touring Companion: Stop Here!</name>
    <description>
        The Adventure Cycling Association inspires and empowers people to
        travel by bicycle. For cyclists who want a better experience while
        touring, the Bicycle Touring Digital Companion (BTDC) is a targeted
        mapping and service review application that allows cyclists to obtain
        information for services, points of interest, and alerts along
        bicycle touring routes in the United States.
    </description>
    <author email="" href="">
        Bikelomatic Complexity
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-camera" spec="~2.1.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-sqlite" spec="https://github.com/hypery2k/cordova-sqlite-plugin" />
    <engine name="browser" spec="~4.0.0" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="cordova-plugin-file" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
</widget>
