
/*#main {
    height: inherit;
}*/

.page-content {
  height: 100%
}

.open-until {
    color: rgb(76,175,80);
}

#point-details {
  overflow-y: auto;
}

.view-buttons {
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    background: white;
}

.amenities {
    font-style: italic;
}

.mdl-navigation__link.selected-page {
    font-weight: bold;
}

.hideZoomControl * > .leaflet-control-zoom {
  visibility: hidden;
}

.ac-drop-down {
  height: calc(100% - 95px);
  display: block;
  overflow-y: scroll;
  position: fixed;
  width: calc(100% - 40px);
  left: 20px;
  bottom: 20px;
  transition: all 300ms ease;
  background: white;
  z-index: 2;
  border: 2px solid lightgray;
}

.ac-drop-down > li {
  opacity: inherit;
}

.button-text {
  margin-left: 8px;
}

.device-storage {
  flex-grow: 1
}

#textfield-Description {
  font-family: Arial, sans-serif;
}
