


/* For the leaflet map to take up the whole screen, height on all elements
   in the chain up to html must be 100% */
html {
    height: 100%;
}

/* Reset body margin & padding so map touches screen edge */
body {
    height: inherit;
    margin: 0;
    padding: 0;
}

#main {
    height: inherit;
}

.page-content {
  height: 100%
}

.open-until {
    color: rgb(76,175,80);
}

#point-details {
  overflow-y: auto;
}

.view-buttons {
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    background: white;
}

.amenities {
    font-style: italic;
}

.mdl-navigation__link.selected-page {
    font-weight: bold;
}

/* Get the bobbing motion for new markers */
.adding-point > .marker {
    position: relative;
    top: 0px;
    -webkit-animation-name: adding;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes adding {
    0%   {top: 0px;}
    50%  {top: -15px;}
    100% {top: 0px;}
}

.hideZoomControl * > .leaflet-control-zoom {
  visibility: hidden;
}

.ac-drop-down {
  height: calc(100% - 95px);
  display: block;
  overflow-y: scroll;
  position: fixed;
  width: calc(100% - 40px);
  left: 20px;
  bottom: 20px;
  transition: all 300ms ease;
  background: white;
  z-index: 2;
  border: 2px solid lightgray;
}

.ac-drop-down > li {
  opacity: inherit;
}

.button-text {
  margin-left: 8px;
}

.device-storage {
  flex-grow: 1
}

#textfield-Description {
  font-family: Arial, sans-serif;
}
