
/*
 * Raise the row of tabs above the map on any point page.
 */
.tabs-bar {
    z-index: 1;
}

/*
 * The div right below the row of tabs. It is a columnar flexbox that takes
 * up all remaining space on the screen (below the row of tabs and the
 * app bar).
 */
.tabs-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

/*
 * Raise the wizard's action button above the map on the add location page
 */
.tabs-content__action {
    z-index: 2;
}


/*
 * The wizard-page is a div that contains fields for a wizard tab.
 *
 * It is a columnar flexbox where items are stretched to fill the
 * width of the container. We should scroll the wizard page in case it
 * overflows.
 */
.wizard-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 10px;
    height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wizard-page__spacer {
    flex-grow: 1;
}

/*
 * A row to use inside a wizard-page when you want to label fields with
 * a <span> instead of Material-UI's floating text.
 */
.wizard-page__row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wizard-page__row > * {
    margin-right: 10px;
}

.wizard-page__row > :last-child {
    margin-right: 0px;
}

/*
 * The <span> child of the row must be separated from the field
 */
.wizard-page__row > span {
    flex-shrink: 0;
    margin-right: 10px;
}

/*
 * the <div> child of the row must grow to fill all remaining space in the row.
 */
.wizard-page__row > div {
    flex-grow: 1;
}

.wizard-page__row input {
    text-align: center;
}
