.wizard-page {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 10px;
    height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wizard-page__spacer {
    flex-grow: 1;
}

.wizard-page__row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wizard-page__row > span {
    margin-right: 20px;
}

.wizard-page__row > div {
    flex-grow: 1;
}

.tabs-bar {
    z-index: 1;
}

.tabs-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

/* Raise the wizard's action button above the map on the add location page */
.tabs-content__action {
    z-index: 2;
}
