.form-column {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  overflow-y: auto;
  height: 100%;
}

.form-row {
  flex: 1;
  display: flex;
}

.form-row:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}

.form-row > * {
  flex: 1;
  margin: 10px !important;
}

.form-item {
  flex-grow: 1;
}
