
/* For the leaflet map to take up the whole screen, height on all elements
   in the chain up to html must be 100% */
html {
    height: 100%;
}
/* Reset body margin & padding so map touches screen edge */
body {
    height: inherit;
    margin: 0;
    padding: 0;
}
#main {
    height: inherit;
}
.leaflet-container {
    height: inherit;
}
