
/* For the leaflet map to take up the whole screen, height on all elements
   in the chain up to html must be 100% */
html {
    height: 100%;
}

/* Reset body margin & padding so map touches screen edge */
body {
    height: inherit;
    margin: 0;
    padding: 0;
}

#main {
    height: inherit;
}

.open-until {
    color: rgb(76,175,80);
}

#point-details {
    overflow-y: scroll;
}

.view-button {
    margin: 8px;
    padding: 0px !important;
}

.amenities {
    font-style: italic;
}

.mdl-navigation__link.selected-page {
    font-weight: bold;
}

/* Get the bobbing motion for new markers */
.adding-point * > .leaflet-marker-icon{
    position: relative;
    top: 0px;
    -webkit-animation-name: adding;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
/*.adding-point * > .leaflet-marker-shadow{
    position: relative;
    top: 0px;
    right: 0px;
    -webkit-animation-name: adding_shadow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
}*/

@-webkit-keyframes adding {
    0%   {top: 0px;}
    50%  {top: -15px;}
    100% {top: 0px;}
}

/*@-webkit-keyframes adding_shadow {
    0%   {top: 0px; right: 0px;}
    50%  {top: -10px; right: 5px;}
    100% {top: 0px; right: 0px;}
}*/
